POSTGRES_DB=biblioteca
POSTGRES_USER=appix
POSTGRES_PASSWORD=retoappix
POSTGRES_HOST=db
POSTGRES_PORT=5432

DJANGO_SECRET_KEY=django-insecure-local-dev-key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0